<section class="blog" id="blog">
    <div class="blog-container container">
      <div class="blog-wrap">
        <p class="blog-uptitle uptitle">April 16 2020</p>
        <h2 class="blog-title">Blog Post One</h2>
        <p class="blog-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptate, ipsum dignissimos quae laudantium asperiores nam
          aliquid impedit harum illum dolore explicabo ab dolores itaque
          rerum temporibus doloribus iste maiores deleniti?
        </p>
        <a href="" class="blog-button link">Read Our Blog</a>
      </div>
      <img
        src="./images/blog.jpg"
        alt="a tablet, notebooks, a pencil and a cup of coffee on the table"
        width="680"
        height="517"
      />
    </div>
  </section>