<section class="callback">
    <div class="callback-container container">
      <div class="callback-picture">
        <img
          src="./images/callback.jpg"
          alt="man with a cellphone looks at a laptop"
          width="680"
          height="460"
        />
      </div>
      <div class="callback-wrap">
        <h2 class="callback-title">Request Callback</h2>
        <form class="form">
          <div class="form-field">
            <input
              class="form-input"
              type="text"
              name="user-name"
              aria-label="name"
              placeholder="Enter your name"
              required
            >
            <input
              class="form-input"
              type="email"
              name="user-email"
              aria-label="email"
              placeholder="Enter email*"
              required
            >
          </div>
          <button class="form-btn" type="submit">Send</button>
        </form>        
      </div>
    </div>
  </section>