<section class="cases" id="cases">
    <div class="cases-container container">
      <p class="cases-uptitle">This is what we do</p>
      <h2 class="cases-title">Business Cases</h2>
      <p class="cases-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
      <ul class="cases-list list">
        <li class="cases-item">
          <img
            src="./images/cases1.jpg"
            alt="people with laptops at a business meeting"
            width="320"
            height="214"
          />
        </li>
        <li class="cases-item">
          <img
            src="./images/cases2.jpg"
            alt="person works on a laptop and makes notes in a notebook"
            width="320"
            height="214"
          />
        </li>
        <li class="cases-item">
          <img
            src="./images/cases3.jpg"
            alt="man and woman shaking hands at a business meeting"
            width="320"
            height="214"
          />
        </li>
        <li class="cases-item">
          <img
            src="./images/cases4.jpg"
            alt="six hands on top of each other over the table"
            width="320"
            height="214"
          />
        </li>
        <li class="cases-item">
          <img
            src="./images/cases5.jpg"
            alt="woman works at a laptop"
            width="320"
            height="214"
          />
        </li>
        <li class="cases-item">
          <img
            src="./images/cases6.jpg"
            alt="three glass skyscrapers"
            width="320"
            height="214"
          />
        </li>
        <li class="cases-item">
          <img
            src="./images/cases7.jpg"
            alt="woman smiles, followed by a roommate"
            width="320"
            height="214"
          />
        </li>
        <li class="cases-item">
          <img
            src="./images/cases8.jpg"
            alt="two women and a man smiling at a work table"
            width="320"
            height="214"
          />
        </li>
      </ul>
    </div>
  </section>