<footer class="page-footer" id="contacts">
    <div class="footer-container container">
      <ul class="footer-soc-list list">
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <svg class="footer-soc-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <svg class="footer-soc-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <svg class="footer-soc-icon" width="40" height="35">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a href="" class="footer-soc-link">
            <svg class="footer-soc-icon" width="31" height="35">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-text">Copyright <span class="footer-copyright-sign">©</span> 2021 - FinanceLedger</p>
    </div>
  </footer>