<header class="header">
    <div class="header-container container">
      <a href="./index.html" class="logo link">
        <svg class="logo-icon" width="40" height="35">
          <use href="./images/icons.svg#icon-book-open"></use>
        </svg>
        Finance<span class="logo-Ledger">Ledger</span>
      </a>
      <nav class="nav-site">
        <ul class="nav-list list">
          <li><a href="#home" class="nav-link link">Home</a></li>
          <li><a href="#about" class="nav-link link">About</a></li>
          <li><a href="#cases" class="nav-link link">Cases</a></li>
          <li><a href="#blog" class="nav-link link">Blog</a></li>
          <li><a href="#contact" class="nav-link link">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>