<section class="services">
    <div class="services-container container">
      <h2 class="visually-hidden">Our services</h2>
      <ul class="services-list list">
        <li class="service-item">
          <div class="icon-box">
            <svg class="services-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-university"></use>
            </svg>
          </div>
          <h3 class="services-title">Investmant Banking</h3>
          <p class="services-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </li>
        <li class="service-item">
          <div class="icon-box">
            <svg class="services-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-book"></use>
            </svg>
          </div>
          <h3 class="services-title">Portfolio Manager</h3>
          <p class="services-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </li>
        <li class="service-item">
          <div class="icon-box">
            <svg class="services-icon" width="35" height="35">
              <use href="./images/icons.svg#icon-pencil"></use>
            </svg>
          </div>
          <h3 class="services-title">Tax & Custudio</h3>
          <p class="services-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Consequatur, necessitatibus!
          </p>
        </li>
      </ul>
    </div>
  </section>