<section class="solutions" id="about">
    <div class="solutions-container container">
      <img
        src="./images/about-team.jpg"
        alt="men and women in business suits in office"
        width="680"
        height="460"
      />
      <div class="solutions-wrap">
        <p class="solutions-uptitle uptitle">What you are looking for</p>
        <h2 class="solutions-title">We provide bespoke solutions</h2>
        <p class="solutions-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptate, ipsum dignissimos quae laudantium asperiores nam
          aliquid impedit harum illum dolore explicabo ab dolores itaque
          rerum temporibus doloribus iste maiores deleniti?
        </p>
        <a href="" class="solutions-button link">Read More</a>
      </div>
    </div>
  </section>