.page-footer {
    padding-top: 20px;
    padding-bottom: 16px;
    background-color: #333333;
    border-radius: 0px;
  }
  
  .footer-container {
  }
  
  .footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .footer-soc-item {
  }
  
  .footer-soc-link {
    display: flex;
  }
  
  .footer-soc-icon {
    fill: #ffffff;
  }
  
  .footer-text {
    font-size: 18px;
    line-height: calc(58 / 18);
    text-align: center;
    color: #ffffff;
  }
  
  .footer-copyright-sign {
    content: '\00A9';
  }